.Register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 100px;
}
.ButtonLink{
    color: #FFF;
    text-decoration: none;
}