.Table{
    margin-top: 80px;
    padding: 40px;
}
.Grid{
    margin-bottom: 30px;
}
.Folder{
    width: 120px;
    height: 160px;
    padding: 10px;
}

.FolderPng{
    width: 30px;
    height: 40px;
}
.Photo{
    width: 60px;
    height: 60px;
}